*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container{
	width: 1100px;
	margin: 0 auto;
}
.head-section{
	background-color: #fcdb00;
	padding: 60px 0 100px;
}
.navbar{
	text-align:right;	
}
.row, .row:before, .row::after{
	display: table;
	width: 100%;
	clear: both;
}
.mb-60{
	margin-bottom: 60px;
}
[class^="col-"]{
	float: left;
	padding: 0 15px;
}
/* .col-5{ */
	/* width: calc(100% * 5 / 12); */
/* } */
.col-1{
	width: calc(100% * 1 / 12);
}
.col-2{
	width: calc(100% * 2 / 12);
}
.col-3{
	width: calc(100% * 3 / 12);
}
.col-4{
	width: calc(100% * 4 / 12);
}
.col-5{
	width: calc(100% * 5 / 12);
}
.col-10{
	width: calc(100% * 10 / 12);
}
.navbar ul li{
	display: inline-block;
}
.navbar ul li a {
    margin: 0px 20px;
}
.logo{
	display: inline-block;
	height: 49px;
	line-height: 49px;
}
.navbar ul{
	list-style: none;
	display: inline-block;
	text-decoration: none;
}

.navbar li a:link, .navbar li a:visited{
	text-decoration: none;
	color: black;
	font-size: 22px;
	text-transform: capitalize;
	transition: all ,3s;
}
.pri-heading{
	font-size: 32px;
	font-weight: bold;
	color: #010101;
	margin-bottom: 20px;
	padding-bottom: 22px;
}
.sec-heading{
	color: #313841;
	font-size: 20px;
	margin-bottom: 10px;
	line-height: 25px;
}
.mb-60{
	margin-bottom: 60px;
}
.mt-60{
	margin-top: 60px;
}
.para{
	color:#555555;
	font-size:20px;
	margin-bottom:40px;	
	line-height: 25px;
}
ul{
	list-style: none;
}
a:link,a:visited{
	text-decoration: none;
	color: #010101;
	font-size: 22px;
	border-radius: 5px;
	transition: all .3s;
	text-transform: capitalize;
	display: inline-block;
	height: 50px;
}
.navbar li a:hover,.navbar li a:focus,.navbar li a:active{
    background-color: black;
    color:#fcdb00;
}
.navbar ul li a{
	display: inline-block;
	height: 52px;
	padding: 10px 15px;
}
a.image-section {
    margin: 0 48px;
}
.icon-section ul li {
    display: inline-block;
    margin-right: 10px;
}
.fa-3x {
    height: 40px;
    margin-right: 40px;
}
.feature-section{
	background-color: #ffffff;
	margin: 130px 0 150px 0;
	text-align: center;
}
.main-heading{
	color: #010101;
	font-size: bold;
	margin-bottom: 18px;
}
[class^="col-"]{
	float: left;
	padding: 0 15px;
}

.feature-section .header-section{
	margin-bottom: 50px;
}
.feature-section .inspiration{
	margin-top: 40px;
}
.brand-icon{
	display: inline-block;
    margin: 0 16px;
}
.contact-section{
	background-color: #010101;
	color: #fff;
}
.contact-section h1{
	color: #fcdb00;
	font-size: 32px;
	font-weight:bold;
	margin-top: 95px;
	text-align: center;
}
.contact-section p{
	width: 740px;
	text-align: center;
	margin: 90px 0 40px 0;
	font-size: 20px;
	padding: 10px;
}
input[type="email"]{
	width: 560px;
	display: inline-block;
	margin: 0 20px 0 28px;
	padding: 15px;
	border-radius: 5px;
}
input[type="Submit"]{
	background-color: #fcdb00;
	font-weight: bold;
	width:100px;
	height: 50px;
	padding: 15px;
	margin-bottom: 70px;
	border-radius: 5px;
}
.contact-icon a{
	color:yellow;
	margin-left: 10px;
	/* display:inline-block; */
}
/* .contact-icon a: last-child{ */
	/* margin-right: 50px; */
/* } */
.footer-section{
	margin-top:130px;
}
a.mail{
    color: #ffffff;
	font-size:16px;
	height:0;
}
a.contact {
    color: white;
	font-size:16px;	
}